body {
  background-color: skyblue;
}

h1 {
  text-align: center;
  font-family: arial  ;
  box-sizing: content-box;

}

h2 {
  text-indent: 50px;
}

img {
   style=width:30%;height:30%
}

li, ol, ul, p, a {
  text-indent: 50px;
}

.firstdiv {
  background-color:orange;
  text-align:center;
  box-sizing: content-box;
}

.table {
  align-content: center;


}
